---
import { getPFInvestments } from "../Services/argentinaDatos";
import coinList from "../data/coins.json";
import Layout from "../layouts/Layout.astro";
interface paramsType {
  params: {
    coin: string;
  };
  props: {
    ticker: string;
    nombre: string;
    icon: string;
  };
}

export function getStaticPaths() {
  const params: paramsType[] = [];
  for (let i = 0; i < coinList.length; i++) {
    const coinData = coinList[i];
    params.push({
      params: {
        coin: coinData.ticker.toLowerCase(),
      },
      props: {
        nombre: coinData.nombre,
        ticker: coinData.ticker,
        icon: coinData.icon,
      },
    });
  }
  return params;
}

const { nombre, ticker, icon } = Astro.props;

const CoinData = await getPFInvestments();
const coin = CoinData.find((data: any) => data.nombre === nombre);
---

<Layout
  title={`${ticker} - ${nombre}`}
  metaDescription={`${coin?.description}` ||
    `Analiza los rendimientos en pesos que ofrece ${nombre}.`}
  metaKeywords="rendimientos pesos, rendimiento pesos argentinos, bancos argentina"
  metaImage="https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG"
>
  <div
    id="containter"
    class="container mx-auto my-6 mb-12 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg"
  >
    <button class="mb-4" type="button" onclick="history.back()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="fill-current text-neutral-900 dark:text-white"
      >
        <title>Botón atrás</title>
        <path
          d="M17.835 3.86998L16.055 2.09998L6.16504 12L16.065 21.9L17.835 20.13L9.70504 12L17.835 3.86998Z"
        ></path>
      </svg>
    </button>
    <div class="flex gap-4 dark:text-gray-100">
      <img class="h-12 w-12 rounded-full" src={icon} alt={coin?.nombre} />
      <div class="flex flex-col">
        <p class="text-gray-400">{nombre}</p>
        <p class="text-gray-400">{ticker}</p>
      </div>

      <h1 class="font-bold text-neutral-900 dark:text-white">
        {coin?.detail}
      </h1>
    </div>
  </div>
  <p class="my-6 dark:text-gray-400">
    {
      coin?.description ||
        "Inversión a 30 días mínimo, que paga una renta fija asegurada en pesos. Renovable automática o manualmente."
    }
  </p>
  <script src="../Services/apy.js"></script>
</Layout>
