---
import Layout from "../layouts/Layout.astro";
import Stack from "../components/Stack";
import coinData from "../data/coins.json";
import { getCoins } from "../Services/criptoYa";

const filteredResults = await getCoins();
---

<Layout
  title="Arbitango"
  metaDescription="Compara precios de Bitcoin, Ethereum y más en diferentes exchanges. Arbitango, la plataforma Argentina para el arbitraje de criptomonedas."
  metaKeywords="comparar exchanges crypto, mejor exchange crypto, mejor app para comprar btc"
  metaImage="/ad.webp"
>
  <section class="mt-[5em]">
    <div
      class="w-full grid lg:grid-cols-4 lg:grid-rows-2 grid-cols-1 grid-rows-4 lg:gap-12 gap-6"
    >
      {
        coinData.map((coin) => {
          const coinResult = filteredResults[coin.ticker.toLowerCase()];
          return (
            <Stack
              key={coin.ticker}
              ticker={coin.ticker}
              nombre={coin.nombre}
              icon={coin.icon}
              iconExchangeAsk={coinResult?.lowestAskExchange?.icon}
              iconExchangeBid={coinResult?.highestBidExchange?.icon}
              highestBidExchange={coinResult?.highestBidExchange.exchange}
              highestBidValue={coinResult?.highestBidExchange.totalBid}
              lowestAskExchange={coinResult?.lowestAskExchange.exchange}
              lowestAskValue={coinResult?.lowestAskExchange.totalAsk}
              client:idle
            />
          );
        })
      }
    </div>
  </section>
</Layout>
