---
import "@/styles/globals.css";

import Search from "../components/Search";

interface Props {
  title: string;
  metaImage: string;
  metaDescription: string;
  metaKeywords: string;
}

const { title, metaDescription, metaImage, metaKeywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Arbitango" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="twitter:card" content="/ad.webp" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content={metaImage} />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeywords} />
    <meta property="og:image" content={metaImage} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="w-full">
        <nav class="flex justify-between items-center text-[#777777]">
          <a href="/">
            <img
              src="/favicon.webp"
              alt="Arbitango"
              width="52"
              height="52"
            /></a
          >
          <Search client:load />

          <a
            class="hover:text-white transition-all"
            target="_blank"
            aria-label="Link al Github Repo"
            href="https://github.com/brenolasserre/arbitango"
          >
            <svg width="25" height="25" fill="none"
              ><g clip-path="url(#a)"
                ><path
                  d="M12.5 0C5.59375 0 0 5.59375 0 12.5c0 5.5312 3.57812 10.2031 8.54688 11.8594.625.1094.85937-.2656.85937-.5938 0-.2968-.01563-1.2812-.01563-2.3281-3.14062.5781-3.95312-.7656-4.20312-1.4687-.14062-.3594-.75-1.4688-1.28125-1.7657-.4375-.2343-1.0625-.8125-.01563-.8281.98438-.0156 1.6875.9062 1.92188 1.2812 1.125 1.8907 2.92188 1.3594 3.64062 1.0313.10938-.8125.4375-1.3594.79688-1.6719-2.78125-.3125-5.6875-1.3906-5.6875-6.1718 0-1.3594.48438-2.48442 1.28125-3.35942-.125-.3125-.5625-1.59376.125-3.3125 0 0 1.04687-.32813 3.4375 1.28124.99995-.28124 2.06255-.42187 3.12505-.42187s2.125.14063 3.125.42187c2.3906-1.625 3.4375-1.28124 3.4375-1.28124.6874 1.71874.25 3 .125 3.3125.7968.875 1.2812 1.98442 1.2812 3.35942 0 4.7968-2.9219 5.8593-5.7031 6.1718.4531.3906.8437 1.1406.8437 2.3125 0 1.6719-.0156 3.0157-.0156 3.4375 0 .3282.2344.7188.8594.5938 2.4818-.8371 4.6385-2.4318 6.1662-4.5594C24.1783 17.6725 25 15.1192 25 12.5 25 5.59375 19.4062 0 12.5 0Z"
                  fill="currentColor"></path></g
              ><defs
                ><clipPath id="a"
                  ><path fill="currentColor" d="M0 0h25v25H0z"></path></clipPath
                ></defs
              ></svg
            >
          </a>
        </nav>
      </div>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  main {
    margin: auto;
    padding: 1rem;
    width: 90%;
    margin-top: 2em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  @media only screen and (max-width: 600px) {
    main {
      padding: 0.5rem;
      max-width: calc(100% - 1rem);
    }
  }
  :root {
    color-scheme: dark light;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #0d0d0d;
    color-scheme: dark light;
    background-size: 224px;
  }
</style>
